@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .buttons {
      @apply bg-retro-drk-green text-black text-xs md:text-lg md:py-4 md:px-6 mx-1 py-2 px-2 hover:text-retro-green hover:cursor-pointer uppercase dark:bg-black dark:text-white dark:hover:text-slate-400;
    }
    .home-intro {
      @apply text-xs md:text-xl w-11/12 md:w-8/12 m-auto mt-4 md:mt-10 tracking-widest leading-relaxed pl-4 md:pl-0;
    }
  }

@layer base {
    @font-face {
        font-family: 'Count';
        font-style: normal;
        src:url(../fonts/count-font.ttf);
    }
}


