@tailwind base;
@tailwind components;
@tailwind utilities;



/* @layer utilities {

  } */
@layer base {
    @font-face {
        font-family: 'Count';
        font-style: normal;
        src:url(../fonts/count-font.ttf);
    }
}


